## Preliminares

In [1]:
## Primero importar librerias
import pandas as pd
import numpy as np
import scipy
import os

In [2]:
## Segundo: Directorio de trabajo
os.getcwd()

'D:\\NM\\CURSOS_DICTADOS\\DESARROLLO_EN_CLASE\\2022_05_Pr_DS_BasesRPy_entreSem\\Scripts'

In [3]:
os.chdir('D:\\NM\\CURSOS_DICTADOS\\DESARROLLO_EN_CLASE\\2022_05_Pr_DS_BasesRPy_entreSem')

In [4]:
os.getcwd()

'D:\\NM\\CURSOS_DICTADOS\\DESARROLLO_EN_CLASE\\2022_05_Pr_DS_BasesRPy_entreSem'

## Analisis

### 3.a Importar datos

In [5]:
## Hoja: Data_Transacciones
transacciones= pd.read_excel( 'Data/datos_licor.xlsx', sheet_name= 'Data_Transacciones' )

In [6]:
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PRODUCTO        100 non-null    object
 1   LOCAL           100 non-null    object
 2   COD_CLTE        100 non-null    int64
 3   CLIENTE         100 non-null    object
 4   FECHA_FACTURA   100 non-null    datetime64[ns]
 5   VENTA_UND       100 non-null    int64
 6   VENTA_USD       100 non-null    object
 7   VENTA_COSTO     100 non-null    float64
 8   CALIF_SERVICIO  100 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 7.2+ KB

In [7]:
## Hoja: Data_Clientes

In [8]:
## Hoja: Data_Locales

In [9]:
## Hoja: Data_ContactoCliente

### 3.b.1 Eliminar espacios en PRODUCTO [usar método .str.strip()]

In [10]:
transacciones

,PRODUCTO,LOCAL,COD_CLTE,CLIENTE,FECHA_FACTURA,VENTA_UND,VENTA_USD,VENTA_COSTO,CALIF_SERVICIO
0,Cerveza Pilsener light,Samborondón,10027,Marilyn Marlene Arratia Rivas,2017-01-10,1,"$ 0,9",0.78,Mala
1,Cerveza Pilsener,Samborondón,10018,Xavier Rafael Lagos Oliva,2017-01-03,2,"$ 1,6",1.40,Mala
2,Cerveza Pilsener light,Ceibos,10014,Irma del Carmen Gallardo Toledo,2017-01-04,1,"$ 0,9",0.78,Regular
3,Cerveza Pilsener,Ceibos,10007,Honorio David Muñoz Molina,2017-02-10,4,"$ 3,2",2.80,Muy Buena
4,Cerveza Pilsener light,Samborondón,10016,José Aquiles Aguayo Chávez,2017-01-03,6,"$ 5,4",4.68,Muy Buena
...,...,...,...,...,...,...,...,...,...
95,Heineken,Samborondón,10029,Juan Alberto Lara Rios,2017-02-03,6,"$ 7,2",6.00,Regular
96,Heineken,Ceibos,10005,Mario Enrique Gonzalez contreras,2017-01-03,1,"$ 1,2",1.00,Buena
97,Cerveza Pilsener light,Ceibos,10009,Juan Plinio Hermosilla Contreras,2017-01-03,2,"$ 1,8",1.56,Buena
98,Cerveza Pilsener,Samborondón,10018,Xavier Rafael Lagos Oliva,2017-01-17,2,"$ 1,6",1.40,Buena
99,Cerveza Pilsener,Ceibos,10009,Juan Plinio Hermosilla Contreras,2017-01-15,1,"$ 0,8",0.70,Regular

In [12]:
transacciones['PRODUCTO'][0]

'Cerveza Pilsener light                '

In [13]:
transacciones['PRODUCTO'].unique()

array(['Cerveza Pilsener light                ',
       'Cerveza Pilsener                       ',
       'Club verde                    ', 'Heineken                   '],
      dtype=object)

In [14]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /)
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [15]:
transacciones['PRODUCTO'].__class__

pandas.core.series.Series

In [17]:
transacciones['PRODUCTO'].str.__class__

pandas.core.strings.accessor.StringMethods

In [18]:
transacciones['PRODUCTO'].str.strip()

0     Cerveza Pilsener light
1           Cerveza Pilsener
2     Cerveza Pilsener light
3           Cerveza Pilsener
4     Cerveza Pilsener light
               ...
95                  Heineken
96                  Heineken
97    Cerveza Pilsener light
98          Cerveza Pilsener
99          Cerveza Pilsener
Name: PRODUCTO, Length: 100, dtype: object

In [19]:
transacciones['PRODUCTO'].str.strip().unique()

array(['Cerveza Pilsener light', 'Cerveza Pilsener', 'Club verde',
       'Heineken'], dtype=object)

In [20]:
transacciones['PRODUCTO'] = transacciones['PRODUCTO'].str.strip()

### 3.b.2 Cambiar VENTA_USD a número [pd.to_numeric()]

Podrían usar .str.strip(chars= '$ ')  
Ademas usar replace para las comas a punto  
y luego to_numeric

In [25]:
transacciones['VENTA_USD'].str.strip('$ ')

0     0,9
1     1,6
2     0,9
3     3,2
4     5,4
     ...
95    7,2
96    1,2
97    1,8
98    1,6
99    0,8
Name: VENTA_USD, Length: 100, dtype: object

In [26]:
transacciones['VENTA_USD'].str.strip('$ ')[0]

'0,9'

In [29]:
transacciones['VENTA_USD'].str.strip('$ ').replace( ',', '.', regex= True )

0     0.9
1     1.6
2     0.9
3     3.2
4     5.4
     ...
95    7.2
96    1.2
97    1.8
98    1.6
99    0.8
Name: VENTA_USD, Length: 100, dtype: object

In [30]:
pd.to_numeric( transacciones['VENTA_USD'].str.strip('$ ').replace( ',', '.', regex= True ) )

0     0.9
1     1.6
2     0.9
3     3.2
4     5.4
     ...
95    7.2
96    1.2
97    1.8
98    1.6
99    0.8
Name: VENTA_USD, Length: 100, dtype: float64

In [31]:
transacciones['VENTA_USD']= pd.to_numeric( transacciones['VENTA_USD'].str.strip('$ ').replace( 
    ',', '.', regex= True ) )

In [32]:
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PRODUCTO        100 non-null    object
 1   LOCAL           100 non-null    object
 2   COD_CLTE        100 non-null    int64
 3   CLIENTE         100 non-null    object
 4   FECHA_FACTURA   100 non-null    datetime64[ns]
 5   VENTA_UND       100 non-null    int64
 6   VENTA_USD       100 non-null    float64
 7   VENTA_COSTO     100 non-null    float64
 8   CALIF_SERVICIO  100 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 7.2+ KB

### 3.b.3 Cambiar la variable CALIF_SERVICIO a ordinal [pd.Categorical()]

Diapositiva 09_Manipul_basica.html#48

### 3.c dólares totales y el costo total de la venta que se tiene por cada tipo de cerveza y local 

Del data de transacciones, muestre:
Los dólares totales y el costo total de la venta que se tiene por cada tipo de
cerveza y local [groupby + sum] o [groupby + agg o apply]

In [33]:
transacciones.groupby( ['PRODUCTO', 'LOCAL'] )[ ['VENTA_USD', 'VENTA_COSTO'] ].sum()
## Ojo, una vez que se corrija la venta_usd arriba, ya debe aparecer en este output

                                    VENTA_USD  VENTA_COSTO
PRODUCTO               LOCAL
Cerveza Pilsener       Ceibos            31.2        27.30
                       Samborondón       40.0        35.00
Cerveza Pilsener light Ceibos            37.8        32.76
                       Samborondón       38.7        33.54
Club verde             Ceibos            24.0        20.40
                       Samborondón       69.0        58.65
Heineken               Ceibos            57.6        48.00
                       Samborondón       76.8        64.00

### 3.d Estadísticas descriptivas para las columnas numéricas

### 3.e Venta (variable Venta USD) mensual total y la venta acumulada desde enero a la fecha

Para cada producto, calcular la venta (variable Venta USD) mensual total y la
venta acumulada desde enero a la fecha. [groupby + cumsum, Pista 2:
seguramente toque crear una variable mes antes de poder hacer la sumatoria ]

In [34]:
transacciones

,PRODUCTO,LOCAL,COD_CLTE,CLIENTE,FECHA_FACTURA,VENTA_UND,VENTA_USD,VENTA_COSTO,CALIF_SERVICIO
0,Cerveza Pilsener light,Samborondón,10027,Marilyn Marlene Arratia Rivas,2017-01-10,1,0.9,0.78,Mala
1,Cerveza Pilsener,Samborondón,10018,Xavier Rafael Lagos Oliva,2017-01-03,2,1.6,1.40,Mala
2,Cerveza Pilsener light,Ceibos,10014,Irma del Carmen Gallardo Toledo,2017-01-04,1,0.9,0.78,Regular
3,Cerveza Pilsener,Ceibos,10007,Honorio David Muñoz Molina,2017-02-10,4,3.2,2.80,Muy Buena
4,Cerveza Pilsener light,Samborondón,10016,José Aquiles Aguayo Chávez,2017-01-03,6,5.4,4.68,Muy Buena
...,...,...,...,...,...,...,...,...,...
95,Heineken,Samborondón,10029,Juan Alberto Lara Rios,2017-02-03,6,7.2,6.00,Regular
96,Heineken,Ceibos,10005,Mario Enrique Gonzalez contreras,2017-01-03,1,1.2,1.00,Buena
97,Cerveza Pilsener light,Ceibos,10009,Juan Plinio Hermosilla Contreras,2017-01-03,2,1.8,1.56,Buena
98,Cerveza Pilsener,Samborondón,10018,Xavier Rafael Lagos Oliva,2017-01-17,2,1.6,1.40,Buena
99,Cerveza Pilsener,Ceibos,10009,Juan Plinio Hermosilla Contreras,2017-01-15,1,0.8,0.70,Regular

In [37]:
# transacciones['MES']= 
transacciones['FECHA_FACTURA'].dt.month

0     1
1     1
2     1
3     2
4     1
     ..
95    2
96    1
97    1
98    1
99    1
Name: FECHA_FACTURA, Length: 100, dtype: int64

In [38]:
transacciones['MES']= transacciones['FECHA_FACTURA'].dt.month

In [39]:
transacciones

,PRODUCTO,LOCAL,COD_CLTE,CLIENTE,FECHA_FACTURA,VENTA_UND,VENTA_USD,VENTA_COSTO,CALIF_SERVICIO,MES
0,Cerveza Pilsener light,Samborondón,10027,Marilyn Marlene Arratia Rivas,2017-01-10,1,0.9,0.78,Mala,1
1,Cerveza Pilsener,Samborondón,10018,Xavier Rafael Lagos Oliva,2017-01-03,2,1.6,1.40,Mala,1
2,Cerveza Pilsener light,Ceibos,10014,Irma del Carmen Gallardo Toledo,2017-01-04,1,0.9,0.78,Regular,1
3,Cerveza Pilsener,Ceibos,10007,Honorio David Muñoz Molina,2017-02-10,4,3.2,2.80,Muy Buena,2
4,Cerveza Pilsener light,Samborondón,10016,José Aquiles Aguayo Chávez,2017-01-03,6,5.4,4.68,Muy Buena,1
...,...,...,...,...,...,...,...,...,...,...
95,Heineken,Samborondón,10029,Juan Alberto Lara Rios,2017-02-03,6,7.2,6.00,Regular,2
96,Heineken,Ceibos,10005,Mario Enrique Gonzalez contreras,2017-01-03,1,1.2,1.00,Buena,1
97,Cerveza Pilsener light,Ceibos,10009,Juan Plinio Hermosilla Contreras,2017-01-03,2,1.8,1.56,Buena,1
98,Cerveza Pilsener,Samborondón,10018,Xavier Rafael Lagos Oliva,2017-01-17,2,1.6,1.40,Buena,1
99,Cerveza Pilsener,Ceibos,10009,Juan Plinio Hermosilla Contreras,2017-01-15,1,0.8,0.70,Regular,1

In [43]:
transacciones.groupby( ['PRODUCTO', 'MES'] )[ ['VENTA_USD'] ].sum()

                            VENTA_USD
PRODUCTO               MES
Cerveza Pilsener       1         47.2
                       2         24.0
Cerveza Pilsener light 1         51.3
                       2         25.2
Club verde             1         64.0
                       2         29.0
Heineken               1         85.2
                       2         49.2

In [44]:
# Esto es un error
transacciones.groupby( ['PRODUCTO', 'MES'] )[ ['VENTA_USD'] ].sum().cumsum()

                            VENTA_USD
PRODUCTO               MES
Cerveza Pilsener       1         47.2
                       2         71.2
Cerveza Pilsener light 1        122.5
                       2        147.7
Club verde             1        211.7
                       2        240.7
Heineken               1        325.9
                       2        375.1

In [45]:
res3e = transacciones.groupby( ['PRODUCTO', 'MES'] )[ ['VENTA_USD'] ].sum()
res3e

                            VENTA_USD
PRODUCTO               MES
Cerveza Pilsener       1         47.2
                       2         24.0
Cerveza Pilsener light 1         51.3
                       2         25.2
Club verde             1         64.0
                       2         29.0
Heineken               1         85.2
                       2         49.2

In [47]:
res3e[ 'VENTA_USD' ].groupby('PRODUCTO').cumsum()

PRODUCTO                MES
Cerveza Pilsener        1       47.2
                        2       71.2
Cerveza Pilsener light  1       51.3
                        2       76.5
Club verde              1       64.0
                        2       93.0
Heineken                1       85.2
                        2      134.4
Name: VENTA_USD, dtype: float64

In [49]:
res3e[ 'VENTA_ACUM' ] = res3e[ 'VENTA_USD' ].groupby('PRODUCTO').cumsum()
res3e

                            VENTA_USD  VENTA_ACUM
PRODUCTO               MES
Cerveza Pilsener       1         47.2        47.2
                       2         24.0        71.2
Cerveza Pilsener light 1         51.3        51.3
                       2         25.2        76.5
Club verde             1         64.0        64.0
                       2         29.0        93.0
Heineken               1         85.2        85.2
                       2         49.2       134.4